In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

from pandas.io.json import json_normalize #package for flattening json in pandas df

# prints whole output
# pd.set_option('display.max_colwidth', -1)

In [36]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [38]:
with open('/Users/matthewmello/bigdata/Twitter_project/data/food/flattened_mcdonalds_tweets.txt', 'w') as wf:
    with open('/Users/matthewmello/bigdata/Twitter_project/data/food/mcdonalds_tweets.txt') as rf:
        for i,line in enumerate(rf):
            json_acceptable_string = line.replace("'", r"\"")
            d = json.loads(json_acceptable_string)
            flat = flatten_json(d)
            json_normalize(flat)
            json.dump(flat, wf)
            wf.write('\n')

In [39]:
with open('/Users/matthewmello/bigdata/Twitter_project/data/food/flattened_tacobell_tweets.txt', 'w') as wf:
    with open('/Users/matthewmello/bigdata/Twitter_project/data/food/tacobell_tweets.txt') as rf:
        for i,line in enumerate(rf):
            json_acceptable_string = line.replace("'", r"\"")
            d = json.loads(json_acceptable_string)
            flat = flatten_json(d)
            json_normalize(flat)
            json.dump(flat, wf)
            wf.write('\n')

In [40]:
with open('/Users/matthewmello/bigdata/Twitter_project/data/food/flattened_wendys_tweets.txt', 'w') as wf:
    with open('/Users/matthewmello/bigdata/Twitter_project/data/food/wendys_tweets.txt') as rf:
        for i,line in enumerate(rf):
            json_acceptable_string = line.replace("'", r"\"")
            d = json.loads(json_acceptable_string)
            flat = flatten_json(d)
            json_normalize(flat)
            json.dump(flat, wf)
            wf.write('\n')

In [41]:
with open('/Users/matthewmello/bigdata/Twitter_project/data/food/flattened_burgerking_tweets.txt', 'w') as wf:
    with open('/Users/matthewmello/bigdata/Twitter_project/data/food/burgerking_tweets.txt') as rf:
        for i,line in enumerate(rf):
            json_acceptable_string = line.replace("'", r"\"")
            d = json.loads(json_acceptable_string)
            flat = flatten_json(d)
            json_normalize(flat)
            json.dump(flat, wf)
            wf.write('\n')

In [43]:
with open('/Users/matthewmello/bigdata/Twitter_project/data/food/flattened_carlsjs_tweets.txt', 'w') as wf:
    with open('/Users/matthewmello/bigdata/Twitter_project/data/food/carlsjs_tweets.txt') as rf:
        for i,line in enumerate(rf):
            json_acceptable_string = line.replace("'", r"\"")
            d = json.loads(json_acceptable_string)
            flat = flatten_json(d)
            json_normalize(flat)
            json.dump(flat, wf)
            wf.write('\n')

In [ ]:
# Attributes to keep:
# Created_at, text, U_description, U_verified, U_followers_count, U_friends_count
# U_listed_count, U_fav_count, language, U_status_count, U_location,

In [46]:
with open('/Users/matthewmello/bigdata/Twitter_project/data/food/flattened_mcdonalds_tweets.txt') as f:
    df = pd.DataFrame(json.loads(line) for line in f)
    
df.head()

,contributors,coordinates,coordinates_coordinates_0,coordinates_coordinates_1,coordinates_type,created_at,entities_hashtags_0_indices_0,entities_hashtags_0_indices_1,entities_hashtags_0_text,entities_hashtags_10_indices_0,...,user_profile_text_color,user_profile_use_background_image,user_protected,user_screen_name,user_statuses_count,user_time_zone,user_translator_type,user_url,user_utc_offset,user_verified
0,None,NaN,NaN,NaN,NaN,Thu Apr 25 18:27:18 +0000 2019,50.0,66.0,McDonaldsstraws,NaN,...,333333,True,False,MccamleyLaura,560,None,none,None,None,False
1,None,NaN,NaN,NaN,NaN,Thu Apr 25 18:27:05 +0000 2019,NaN,NaN,NaN,NaN,...,333333,True,False,_Pepples,2846,None,none,https://t.co/qnCBNk6zSJ,None,False
2,None,NaN,NaN,NaN,NaN,Thu Apr 25 18:26:43 +0000 2019,NaN,NaN,NaN,NaN,...,333333,True,False,sadiarabiaa,919,None,none,None,None,False
3,None,NaN,NaN,NaN,NaN,Thu Apr 25 18:26:41 +0000 2019,NaN,NaN,NaN,NaN,...,333333,True,False,NiCaInteriors,32461,None,none,None,None,False
4,None,NaN,NaN,NaN,NaN,Thu Apr 25 18:26:30 +0000 2019,NaN,NaN,NaN,NaN,...,333333,True,False,Rock59495360,148,None,none,None,None,False